.images-slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 85%;
	min-height: 400px;
	min-width: 600px;
	opacity: 0;
}

.images-slide #image-info {
	position: absolute;
	top: 1%;
	height: 6%;
	width: 100%;
	text-align: center;
}
.images-slide #image-info span {
	font-size: 20px;
	color: black;
}

.images-slide .slide {
	position: absolute;
	top: 7%;
	bottom: 3%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 90%;
	height: 90%;
	text-align: center;
	background-color: black;
	border-radius: 4px;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s;
	box-shadow: 0 0 20px black;
}

#slide-visible {
	z-index: 3;
	opacity: 1;
}
.images-slide .slide img.horizon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	max-width: 100%;
}

.images-slide .slide img.vertical {
	height: 100%;
	max-width: 100%;
}

.images-slide .slide-button {
	position: absolute;
	top: 46%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid gray;
	transition: all 0.3s;
}
.images-slide #left-button {
	left: 8px;
	background-image: url(../img/left.svg);
}

.images-slide #right-button {
	right: 8px;
	background-image: url(../img/right.svg);
}
.images-slide .slide-button:hover {
	background-color: #E5E5E5;
}